* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat", sans-serif;
  font-family: "Montserrat Alternates", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #342949;
  overflow-x: hidden;
}

p {
  font-weight: 400;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
  gap: 24px;
}

.client-review {
  font-weight: 600;
  font-size: 4.8rem;
  line-height: 1.6;
}

.portfolio-section {
  align-items: center;
}

.section-hero {
  height: 100vh;
  margin: 0;
  background-image: url(home-page/portfolio/hero-background.webp);
  background-size: cover;
  position: relative;
}
.fairy-dust {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0;
  z-index: 1;
  background-image: url(home-page/pixie-dust.webp);
  /* transition: opacity 10s ease-in-out; */
  animation: dissolves 2s infinite alternate;
}

@keyframes dissolves {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 0;
  }
}
.fairy-dusts {
  position: absolute;
  top: -265px;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0;
  z-index: 1;
  background-image: url(home-page/pixie-dust.webp);
  /* transition: opacity 10s ease-out; */
  animation: dissolves 3s infinite alternate;
}

@keyframes dissolves {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 0;
  }
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  display: flex;
}

.header {
  height: 9.6rem;
  padding: 0 4.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.header-logo {
  height: 8.6rem;
}
.logo {
  height: 18.4rem;
}

.main-nav-list {
  list-style: none;
  display: flex;
  text-transform: uppercase;
  gap: 4.8rem;
  align-items: center;
  font-family: Montserrat;
  font-weight: 700;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #b88dbb;
  font-weight: 700;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #7b8d54;
  text-decoration: underline 2px #7b8d54;
}

.main-nav-link.nav-cta:link,
.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #e4e4e4;
  background-color: #b88dbb;
}
.main-nav-link.nav-cta:link,
.nav-cta:visited {
  color: #342949;
  background: linear-gradient(3deg, #e8ca91 0%, #f8f5ce 50.52%, #e5c275 100%);
}

.shopping-cart {
  color: #b88dbb;
  font-size: 3.2rem;
}

nav {
  font-size: 20px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
}
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}
.mobile-nav-btn {
  padding: 0;
}
.icon-mobile-nav {
  height: auto;
  width: 2.4rem;
  color: #342949;
}
.icon-mobile-nav[name="close-outline"] {
  display: none;
}
.close-outline {
  display: none;
}

.cart-icon {
  position: relative;
  cursor: pointer;
}

.cart-icon img {
  width: 30px;
  height: 30px;
}

.cart-count {
  position: absolute;
  top: -25px;
  right: -10px;
  color: #7b8d54;
  border-radius: 50%;
  padding: 5px 10px;
  font-size: 2.4rem;
  font-family: Montserrat;
  font-weight: 800;
}

.cart-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.cart-content {
  background-color: #e4e4e4;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  max-width: 80%;
  max-height: 80%;
  overflow: auto;
}

.close-cart {
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #342949;
  color: #e4e4e4;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.portfolio-hero-text-box {
  padding-top: 10rem;
  justify-items: center;
}

.port-heading-primary {
  font-size: 8.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
  color: #c1d99d;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.75);
}

.portfolio-preview img {
  max-width: 70%;
  height: auto;
  transition: opacity 0.3s;
  align-self: center;
  justify-self: center;
}

.portfolio-tag {
  padding: 24px;
  background-color: #b88dbb;
  color: #342949;
  padding: 4px 8px;
  border-radius: 50px;
  margin-right: 5px;
  font-size: 1.6rem;
  font-family: Montserrat;
}

.portfolio-preview {
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
}

.portfolio-preview:hover {
  transform: translateY(-5px);
}

.portfolio-img {
  max-width: 50%;
  position: relative;
  overflow: hidden;
  align-self: center;
}

.portfolio-img img {
  border-radius: 16px;
  max-width: 100%;
  height: auto;
  transition: transform 0.3s;
}

.portfolio-info {
  display: none;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.8);

  border-radius: 0 0 10px 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  transition: opacity 0.3s;
}

.portfolio-tag {
  padding: 4px 8px;
  background-color: #b88dbb;
  color: #342949;
  border-radius: 50px;
  margin-right: 5px;
  font-size: 2.4rem;
  font-family: Montserrat;
}

.portfolio-name {
  color: #7b8d54;
  font-size: 3.2rem;
  font-weight: bold;
  margin: 10px 0;
}

.portfolio-img img.img-hover {
  border-radius: 16px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: transform 0.3s, opacity 0.3s;
}

.tattoo {
  padding: 10px;
  text-align: center;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
  background: linear-gradient(
    to bottom,
    #161616 0%,
    #161616 50%,
    #bd7642 50%,
    #bd7642 100%
  );
}

.tattoo:hover .portfolio-info {
  display: block;
}

.tattoo:hover .portfolio-img img.img-normal {
  transform: translateY(-100%);
  opacity: 0;
}

.tattoo:hover .portfolio-img img.img-hover {
  transform: translateY(0);
  opacity: 1;
}

.crowned {
  padding: 10px;
  text-align: center;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background: linear-gradient(
    to bottom,
    #8b313d 0%,
    #8b313d 50%,
    #af7958 50%,
    #af7958 100%
  );
}

.crowned:hover .portfolio-info {
  display: block;
}

.crowned:hover .portfolio-img img.img-normal {
  transform: translateY(-100%);
  opacity: 0;
}

.crowned:hover .portfolio-img img.img-hover {
  transform: translateY(0);
  opacity: 1;
}

.plug {
  padding: 10px;
  text-align: center;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background: linear-gradient(
    to bottom,
    #bf0000 0%,
    #bf0000 50%,
    #c6aa00 50%,
    #c6aa00 100%
  );
}

.plug:hover .portfolio-info {
  display: block;
}

.plug:hover .portfolio-img img.img-normal {
  transform: translateY(-100%);
  opacity: 0;
}

.plug:hover .portfolio-img img.img-hover {
  transform: translateY(0);
  opacity: 1;
}

.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr;
  display: grid;
  border-top: 1px solid #ddd;
  background-color: #c1d99d;
  justify-content: space-between;
  align-items: center;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.footer-logo {
  display: grid;
  width: auto;
  align-content: center;
  justify-content: center;
}

.social-links {
  display: flex;
  gap: 6.4rem;
  align-content: center;
  justify-content: center;
}

.logo-col {
  display: contents;
  margin-bottom: 3.2rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
  display: contents;
}

.cta-footer-text-btn {
  justify-self: center;
  padding: 28px 0;
}

.copyright-text-container {
  display: flex;
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: #342949;
  margin-top: auto;
  background-color: #7b8d54;
  gap: 20%;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6rem;
}

.address {
  margin-bottom: 2.4rem;
}
.footer-button {
  font-size: 2.4rem;
  border-radius: 50px;
  background: linear-gradient(3deg, #e8ca91 0%, #f8f5ce 50.52%, #e5c275 100%);
  display: inline-block;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  cursor: pointer;
  padding: 8px;
  font-weight: 700;
}
.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-left: 0;
}
.nav-col {
  justify-self: center;
}
.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #342949;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #b88dbb;
}

.footer-bottom {
  font-size: 2.4rem;
  border-radius: 50px;
  background: linear-gradient(3deg, #e8ca91 0%, #f8f5ce 50.52%, #e5c275 100%);
  display: inline-block;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.copyright-text-container {
  display: flex;
  margin-top: auto;
}

.fairy-dust {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
  background-image: url(home-page/pixie-dust.webp);
  transition: opacity 5s ease-in-out;
  animation: dissolve 10s linear infinite;
}

@keyframes dissolve {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fairy-dusts {
  position: absolute;
  top: -265px;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0;
  z-index: 1;
  background-image: url(home-page/pixie-dust.webp);
  transition: opacity 5s ease-in-out;
  animation-delay: 2.5s;
  animation: dissolves 10s linear infinite;
}

@keyframes dissolves {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (max-width: 56.25em) {
  .social-links {
    gap: 2.4rem;
  }
  .footer-heading {
    font-size: 1.2rem;
  }
  .footer-button {
    padding: 0.9rem;
  }
  .footer-link:link,
  .footer-link:visited {
    font-size: 1.2rem;
  }
  .social-icon {
    height: 1.6rem;
    width: 1.6rem;
  }
  .logo {
    height: 8.4rem;
  }
  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 1.4rem;
  }
}
@media (max-width: 31.25em) {
  .grid--footer {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 56.25em) {
  .social-links {
    gap: 2.4rem;
  }
  .footer-heading {
    font-size: 1.2rem;
  }
  .footer-button {
    padding: 0.9rem;
  }
  .footer-link:link,
  .footer-link:visited {
    font-size: 1.2rem;
  }
  .social-icon {
    height: 1.6rem;
    width: 1.6rem;
  }
  .logo {
    height: 8.4rem;
  }
  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 1.4rem;
  }
}
@media (max-width: 31.25em) {
  .grid--footer {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 53.125em) {
  .client-review {
    font-size: 2.4rem;
    padding-top: 20px;
  }
  .portfolio-name {
    font-size: 1.8rem;
  }
  .portfolio-tag {
    font-size: 1.2rem;
  }
  .tattoo,
  .plug,
  .crowned {
    height: 75vh;
  }
}
@media (max-width: 30.625em) {
  .portfolio-name {
    font-size: 1.2rem;
  }
  .portfolio-tag {
    font-size: 0.6rem;
    padding: 2px 4px;
  }
}
@media (max-width: 62.5em) {
  /* mobile navigation */
  .btn-mobile-nav {
    display: contents;
    z-index: 1;
  }

  .main-nav {
    background-color: rgba(225, 225, 225, 0.97);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 2s;

    /* hide navigation with transitions*/
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
    z-index: 1;
  }
  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .cart-icon {
    right: 10%;
  }
}
